<%#= month_calendar(attribute: :starts_at) do |date| %>
  <%#= date %>
<%# end %>

<div class="panel panel-success">
  <h1 class="panel-heading text-center">Calendar View of Matches</h1>
  <div class="panel-body">
    

    <%= month_calendar events: @matches do |date, matches| %> 
      <%= date %>    <!-- outputs the current date on the calendar -->
        <% matches.each do |match| %>   <!-- loops through each match -->
          <div> 
            <%= match.against %> </br>   <!-- outputs the oppostion of match -->
            <%= match.start_time.strftime("%I:%M%p") %></br>   <!-- outputs the time of match   -->
            <%= match.venue %></br>  <!-- utputs venue -->
            <btn type = "button"><%= link_to 'Show', match, class: "btn btn-default btn-xs" %></btn>   <!-- 
                                                                                      button to the match details -->
          </div>
        <% end %>
      <% end %>


  </div>
</div>