<div class="panel panel-success">
    <h1 class="panel-heading text-center">Forgot your password?</h1>
      <div class="panel-body">


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, class: "form-control-small" %><br />
    <%= f.email_field :email, class: "form-control-small" autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-default btn-success"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
