<html class = "form-group", align= "center">
  <%= form_for(@news) do |f| %>
    <% if @news.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>
  
        <ul>
        <% @news.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field", align: "center">
      <%= f.label :start_time %><br>
      <%= f.datetime_select :start_time %>
    </div>
    
    <div class="field", align: "center">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control", size: "70x10", placeholder: "Title" %>
    </div>
    <div class="field", align: "center">
      <%= f.label :content %><br>
      <%= f.text_area :content, class: "form-control", cols: 70, rows: 10, placeholder: "Description" %>
      <%#= f.text_field :content, size: "70x60"%>
    </div>
    <br>
    
    <div class="actions", align: "center">
       <%= button_tag(type: 'submit', class: "btn btn-success") do %>
         Submit
        <% end %>
        <btn><%= link_to 'Back', news_index_path, class: "btn btn-success" %></btn>
    </div>
  
  <% end %>
</html>