<div class="panel panel-success">
  <h1 class="panel-heading text-center">Editing News</h1>
    <div class="panel-body">
  
      <%= render 'form' %>
    
    </div>
</div>
<%#= link_to 'Show', @news %> |
<%#= link_to 'Back', news_index_path %>
