<p id="notice"><%= notice %></p>

<h1 class ="text-center">Listing News</h1>

<% @news.each do |news| %>
  <thead>
    <tr>
      <div class = "panel panel-success">
        <h2 class = "panel-heading"><%= news.title %></h2>
        <div class = "panel-body">
          <h4>Date: <%= news.start_time.strftime("%d/%m/%Y") %></h4>
          <h4>Time: <%= news.start_time.strftime("%I:%M%p") %></h4>
          <h4>Description</h4>
          
          <td><%= simple_format(news.content) %></td>
          </br>
          <% if current_player.captain %>
            <td><%= link_to 'Show', news, class: "btn btn-default btn-success btn-xs" %></td>
            <td><%= link_to 'Edit', edit_news_path(news), class: "btn btn-default btn-success btn-xs" %></td>
            <td><%= link_to 'Delete', news, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-success btn-xs" %></td>
            <th colspan="3"></th>
          <% end %>
          
          <br/>
        </div>
      </div>
    </tr>
  </thead>
  </br>
<% end %>

<br>

<% if current_player.captain %>
  <btn><%= link_to 'New Item', new_news_path, class: "btn btn-default btn-success" %></btn>
<% end %>
