<p id="notice"><%= notice %></p>

<div class="panel panel-success">
  <div class="panel-heading text-center">Viewing News</div>
  <div class="panel-body">
  

    <p>
      <strong>Start time:</strong>
      <%= @news.start_time %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @news.title %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= @news.content %>
    </p>

    <btn><%= link_to 'Edit', edit_news_path(@news), class: "btn btn-default btn-success" %></btn>
    <btn><%= link_to 'Back', news_index_path, class: "btn btn-default btn-success" %></btn>

  </div>
</div>