


<div class = "panel panel-success">
    <h2 class = "panel-heading text-center">You must create a password</h2>
    <div class = "panel-body text-center">
        <% if flash[:error] %>
            <p><%= flash[:error] %></p>
        <% end %>
        <%= form_tag passwords_path, :method=>'post' do %>
            
            <l><b>Password</b></l><br>
            <%= password_field_tag "password" %>
            <br>
            <l><b>Password Confirmation</b></l><br>
            <%= password_field_tag "confirmation_password" %>
            <br>
            <br>
            <%= submit_tag 'Update', class: "btn btn-default btn-success" %>
        <% end %>
    </div>
</div>