

<html align= "center">
    <tb class = "btn-group text-center", align = "center">
        <% @team_names.each_with_index do |name, i| %>
            <%= link_to name, {:action => :show, :id => i}, class: "btn btn-default btn-success" %>
        <% end %> 
    </tb>
    <div class = "panel panel-success">
        <h2 class = "panel-heading">League Table</h2>
        <div class = "panel-body">
            <%= raw @table_html %>
        </div>
    </div>
    <t>Tables taken from <a href="http://www.leinsterhockey.ie/">Leinster Hockey</a> page. League results and fixtures for Trinity's 4 teams can also be found there.</t>
</html>