


<html class = "form-group", align = "center">
<!--- split between my code and pasted code  ---->

<h1 class="text-success">DUHC Management App</h1><br>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    <div class="field", align = "center">
      <%= f.label :email, class: "control-label"%><br />
      <%= f.email_field :email, autofocus: true, class: "form-control-small", placeholder:"Email" %>
    </div>

    <div class="field", align = "center">
      <%= f.label :password, class: "control-label" %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control-small", placeholder:"Password"%>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field", align = "center">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    <br>
    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-default btn-success" %>
    </div>
    
    
    <% flash.each do |name, msg| %>
      <%= msg %>
    <% end %>
    
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
  <br>

  <div class="panel panel-success text-center">
    <div class="panel-heading">Don't have an account?</div>
    <div class="panel-body text-center">
      <body>Send an email to 'simonina@tcd.ie' from your college email.<br>In the email include (1) Your mobile number (2) Your full name<br>
      Once you have been accepted by the admin an email will be sent back to you with a randomly generated password, which you will be prompted to change upon initial log in.
      <br>
      <h5>Forgot Password? Email 'simonina@tcd.ie'</h5>
      </body>
    </div>
  </div>
</html>