<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field", align = "center">
    <%= f.label :name %>:<br>
    <%= f.text_field :name, class: "form-control-small", placeholder: "Name"  %>
  </div>
  <div class="field", align = "center">
    <%= f.label :team %>:<br>
    <%= f.select :team, [['1sts',1],['2nds',2],['3rds', 3],['4ths', 4]] %>
  </div>
  <br>
  <div class="field", align = "center">
    <%= f.label :email %>:<br>
    <%= f.text_field :email, class: "form-control-small", placeholder: "Email" %>
  </div>
  <div class="field", align = "center">
    <%= f.label :mobile %>:<br>
    <%= f.text_field :mobile, class: "form-control-small", placeholder: "Mobile" %>
  </div>
  <div class="field", align = "center">
    <%= f.label :captain %>:<br>
    <%= f.radio_button :captain, true %> - Is a captain </br>
    <%= f.radio_button :captain, false %> - Not a Captain
  </div>
  
  <br>
  <div class="actions", align = "center">
    <%= button_tag(type: 'submit', class: "btn btn-success") do %>
     Submit
    <% end %>
    <btn ><%= link_to 'Back', players_path, class: "btn btn-success" %></btn>
    
  </div>
<% end %>
