


<div class="panel panel-success">
  <h1 class="panel-heading text-center">Editing Player</h1>
    <div class="panel-body">
  
      <%= render 'form' %>
    
    </div>
</div>

<%#= link_to 'Show', @player %> |
<%#= link_to 'Back', players_path %>
