<p id="notice"><%= notice %></p>

<div class="panel panel-success">
  <h2 class="panel-heading text-center">Listing DUHC Players</h2>
  <div class="panel-body">

    <table class = "table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Team</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Captain</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= player.name %></td>
            <td><%= player.team %></td>
            <td><%= player.email %></td>
            <td><%= player.mobile %></td>
            <td>
              <% if player.captain %>
                <t>Yes</t>
              <% else %>
                <t>No</t>
              <% end %>
            </td>
            <% if current_player.captain %>
              <td><%= link_to 'View', player, class: "btn btn-default btn-success btn-xs" %></td>
              <td><%= link_to 'Edit', edit_player_path(player), class: "btn btn-default btn-success btn-xs" %></td>
              <td><%= link_to 'Delete', player, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-success btn-xs" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<% if current_player.captain %>
  <btn><%= link_to 'New Player', new_player_path, class: "btn btn-default btn-success" %></btn>
<% end %>