<p id="notice"><%= notice %></p>


<div class="panel panel-success">
  <h1 class="panel-heading text-center">Viewing <%= @player.name %></h1>
  <div class="panel-body">

    <p>
      <strong>Team:</strong>
      <%= @player.team  %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @player.email %>
    </p>

    <p>
      <strong>Mobile:</strong>
      <%= @player.mobile %>
    </p>

    <p>
      <strong>Captain:</strong>
      <%= @player.captain %>
    </p>

    <btn><%= link_to 'Edit', edit_player_path(@player), class: "btn btn-success" %></btn>
    <btn><%= link_to 'Back', players_path, class: "btn btn-success" %></btn>

</div>
</div>