<html class="container col-lg-12">
  
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
  
    <% if @match.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

        <ul>
          <% @match.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <% if !@date %>
      <ly>
        <%= form_tag(request.path, :method => :get) do %>
          <div class="field", align = "center">
            <%#= f.collection_select :against, Match.all ,:against, :team, include_blank: true %>
            <l><%= label_tag :start_time %>: </l><br>
            <%= datetime_select :start_time, {}, {:class => "form-control"} %>
          </div>
          <br>
          <div class="actions", align = "center">
            <%= button_tag(type: 'submit', class: "btn btn-success") do %>
               Submit
            <% end %>
          <btn><%= link_to 'Back', matches_path, class: "btn btn-success" %></btn>
        </div>
      <% end %>
    </ly>
    
  <% else %>
  
    
  
    <%= form_for(@match) do |f| %>
    <div align = "center">
      <strong>Date:</strong>
      <d><%= @date.strftime("%d/%m/%Y") %></d>
      
      <div style="visibility:hidden">
      <%= f.datetime_select :start_time %>
      </div>
    
      <div class="field">
        <l></l><%= f.label :team%>: </l><br>
        <%= f.select :team,  [['1sts',1],['2nds',2],['3rds', 3],['4ths', 4]] %>
        </div>
        <br>
        
        <div class="field">
          <l><%= f.label :against %>: </l><br>
          <%= f.text_field :against, class: "form-control-small", placeholder: "Against" %>
        </div>
        
        <div class="field">
        <l></l><%= f.label :venue%>: </l><br>
        <%= f.select :venue,  [['Home'],['Away']] %>
        </div>
        <br>c
        <div class="field">
          <l><%= f.label :competition %>: </l><br>
          <%= f.text_field :competition, class: "form-control-small", placeholder: "Competition" %>
        </div>
        
        <div class="field">
          <l><%= f.label :score_for %>: </l><br>  <!-- label for input field -->
          <%= f.number_field :score_for, class: "form-control-small", placeholder: "Score for"%>  <!-- input field-->
        </div>
        
        <div class="field">
          <l><%= f.label :score_against %>: </l><br>
          <%= f.number_field :score_against, class: "form-control-small", placeholder: "Score against" %>
        </div>
      <br>
      
      <div class="form-group">
                  <div class="panel panel-default">
                    <h4 class="panel-heading text-center"><%= f.label :unavailable_players %></h4>
                    <div class="panel-body">
                      <%= raw @absent_players.map(&:name).join("<br>") %>
                    </div>
                  </div>
              </div>
      
        <div class="form-group">
          <!-- <div class="panel panel-success">
            <h4 class="panel-heading text-center"><%#= f.label :players %></h4>
            <div class="panel-body"> -->
          <%#= f.label :players %><br>
          <strong id="players_selected"><%= @selected_players.count %> players selected to your team</strong>
          <% i = 0 %>
          <% @teams.each do |team, players| %>
            <% if i % 2 == 0 %>
              <div class="row">
            <% end %>
            <div class="">
                <div class="panel panel-default">
                  <h4 class="panel-heading text-center"><%= "Team: #{team}" %></h4>
                  <div class="panel-body">
                  
                    <%= collection_check_boxes(:match, :player_ids, players, :id, :name, checked: @selected_players.map(&:id)) do |b| %>
                      <div class="row">
                        <%= b.label(class: "check_box") do %>
                        <%= b.check_box(class: "check_box") %>    <%= b.object.name %>
                      </div>
                    <% end %>
                    
                <% end %>
                  </div>
                        <% if i % 2 != 0 %>
                      </div>
                    <% end %>
                    <% i += 1 %>
                  </div>
                  
                </div>
                
          <% end %>
      
            <!-- -->
        
      <% end %>
      <div class="actions", align = "center">
        <%= button_tag(type: 'submit', class: "btn btn-success") do %>
           Submit   <!-- label of button -->
        <% end %>
        <btn><%= link_to 'Back', matches_path, class: "btn btn-success" %></btn>    <!-- calling boostrap btn -->
      </div>
    <% end %>
    </div>
    
    </div>
  </body>
</html>
