<div class="panel panel-success">
  <h1 class="panel-heading text-center">Editing Match</h1>
    <div class="panel-body">
  
      <%= render 'form' %>
    
    </div>
</div>
<%#= link_to 'Show', @match %> |
<%#= link_to 'Back', matches_path %>
