<p id="notice"><%= notice %></p>

<div class="panel panel-success">
    <h1 class="panel-heading text-center">Listing Matches</h1>
      <div class="panel-body">

        <table class = "table table-striped table-bordered">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Team</th>
              <th>Against</th>
              <th>Venue</th>
              <th>Competition</th>
              <th>Score For</th>
              <th>Score Against</th>
              <th>Options</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @matches.each do |match| %>
            <tr class = 'tabel'>
              <td><%= match.start_time.strftime("%d/%m/%Y") %></td>
              <td><%= match.start_time.strftime("%I:%M%p") %></td>
              <td><%= match.team %>'s</td>
              <td><%= match.against %></td>
              <td><%= match.venue %></td>
              <td><%= match.competition %></td>
              <td><%= match.score_for %></td>
              <td><%= match.score_against %></td>
        
              
              
              <td><%= link_to 'View', match, class: "btn btn-default btn-success btn-xs" %></td>
              <% if current_player.captain %>
                <td><%= link_to 'Edit', edit_match_path(match), class: "btn btn-default btn-success btn-xs" %></td>
                <td><%= link_to 'Delete', match, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-success btn-xs" %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>

    </div>
</div>


<br>
<% if current_player.captain %>
  <btn><%= link_to 'New Match', new_match_path, class: "btn btn-default btn-success" %></btn>
<% end %>
