<p id="notice"><%= notice %></p>

<div class="panel panel-success">
  <h1 class="panel-heading text-center">Viewing Match</h1>
  <div class="panel-body">
    
    <div class="panel panel-default">
      <h1 class="panel-heading text-center">Information</h1>
      <div class="panel-body">
        <p>
          <strong>Date</strong>
          <%= @match.start_time.strftime("%d/%m/%Y") %>
        </p>

        <p>
          <strong>Time</strong>
          <%= @match.start_time.strftime("%I:%M%p") %>
        </p>
    
        <p>
          <strong>Team:</strong>
          <%= @match.team %>
        </p>
    
        <p>
          <strong>Against:</strong>
          <%= @match.against %>
        </p>
        
        <p>
          <strong>Venue:</strong>
          <%= @match.venue %>
        </p>
    
        <p>
          <strong>Competition:</strong>
          <%= @match.competition %>
        </p>
    
        <p>
          <strong>Score for:</strong>
          <%= @match.score_for %>
        </p>
    
        <p>
          <strong>Score against:</strong>
          <%= @match.score_against %>
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <h1 class="panel-heading text-center">Team</h1>
      <div class="panel-body">
        <p>
          <%= @match.players.map(&:name).join(", ") %>
        </p>
      </div>
    </div>
    <% if current_player.captain %>
      <btn><%= link_to 'Edit', edit_match_path(@match), class: "btn btn-default btn-success" %> </btn>
    <% end %>
    <btn><%= link_to 'Back', matches_path,  class: "btn btn-default btn-success" %> </btn>

  </div>
</div>