<html class = "form-group", align = "center">
<%= form_for(@absence) do |f| %>
  <% if @absence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@absence.errors.count, "error") %> prohibited this absence from being saved:</h2>

      <ul>
      <% @absence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field", align = "center">
    <%= f.label :reason, class: "control-label" %>:<br>
    <%= f.text_field :reason, class: "form-control-small", placeholder:"Reason" %>
  </div>
  <div class="field", align = "center">
    <%= f.label :absent_from %>:<br>
    <%= f.date_select :absent_from %>
  </div>
  <div class="field", align = "center">
    <%= f.label :absent_until %>:<br>
    <%= f.date_select :absent_until %>
  </div>
  
  
  
  <br>
  
  <div class="actions">
    <%= button_tag(type: 'submit', class: "btn btn-success") do %>
       Submit
    <% end %>
    <btn ><%= link_to 'Back', absences_path, class: "btn btn-success" %></btn>
  </div>
<% end %>
</html>