<div class="panel panel-success">
  <h1 class="panel-heading text-center">Editing Absence</h1>
    <div class="panel-body">
  
      <%= render 'form' %>
    
    </div>
</div>
<%#= link_to 'Show', @absence %> |
<%#= link_to 'Back', absences_path %>
