<p id="notice"><%= notice %></p>

<div class="panel panel-success">
  <h1 class = "panel-heading text-center">Listing Absences</h1>
    <div class = "panel-body">
      <table class = "table table-striped table-bordered">
        <thead>
          <tr>
            <th>Player</th>
            <th>Reason</th>
            <th>Absent from</th>
            <th>Absent until</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @absences.each do |absence| %>
            <tr>
              <td><%= absence.player.name %></td>
              <td><%= absence.reason %></td>
              <td><%= absence.absent_from.strftime("%d/%m/%Y") %></td>
              <td><%= absence.absent_until.strftime("%d/%m/%Y") %></td>

              <td><%= link_to 'View', absence, class: "btn btn-default btn-success btn-xs" %></td>
              <td><%= link_to 'Edit', edit_absence_path(absence), class: "btn btn-default btn-success btn-xs" %></td>
              <td><%= link_to 'Delete', absence, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-success btn-xs" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>

<br>

<h5><%= link_to 'New Absence', new_absence_path, class: "btn btn-defaul btn-success" %></h5>
