<p id="notice"><%= notice %></p>

<div class="panel panel-success">
  <h1 class="panel-heading text-center">Viewing Absence</h1>
  <div class="panel-body">
  



    <p>
      <strong>Player:</strong>
      <td><%= @absence.player.name %></td>
    </p>


    <p>
      <strong>Reason:</strong>
      <%= @absence.reason %>
    </p>

    <p>
      <strong>Absent from:</strong>
      <%= @absence.absent_from.strftime("%d/%m/%Y") %>
    </p>

    <p>
      <strong>Absent until:</strong>
      <%= @absence.absent_until.strftime("%d/%m/%Y") %>
    </p>

    <p>
      <strong>Player ID:</strong>
      <%= @absence.player_id %>
    </p>

    <btn><%= link_to 'Edit', edit_absence_path(@absence),  class: "btn btn-default btn-success" %></btn>
    <btn><%= link_to 'Back', absences_path,  class: "btn btn-default btn-success" %></btn>

  </div>
</div>
